.list {
  position: fixed;
width: 80vw;  
left: 8vw;
bottom: 5vh;
  padding: 1vh 3vw 4vh 3vw;
  background-color: black;
  color: wheat;
}

.links{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
}

.nube {
  position: absolute;
  top: 15vh;
  left: 10vw;
  animation: moveCloud 50s linear infinite; /* Aplica la animación */
}

@keyframes moveCloud {
  0% {
    left: 10vw; /* Posición inicial */
  }
  50% {
    left: 30vw; /* Posición intermedia (a la derecha) */
  }
  100% {
    left: 10vw; /* Posición final (de regreso a la izquierda) */
  }
}


@media (min-width: 768px) {

.list {
    right: 10vw;
    top: 20vh;
    padding: 2vh 3vw 8vh 3vw;
  }
  
  .nube {
    font-size: 5rem;
    position: absolute;
    top: 15vh;
    left: 10vw;
    animation: moveCloud 50s linear infinite; /* Aplica la animación */
  }
  
  @keyframes moveCloud {
    0% {
      left: 10vw; /* Posición inicial */
    }
    50% {
      left: 30vw; /* Posición intermedia (a la derecha) */
    }
    100% {
      left: 10vw; /* Posición final (de regreso a la izquierda) */
    }
  }
  
  .barco {
    position: absolute;
    bottom: 30vh;
    right: 35vw;
    animation: moveBoat 120s linear infinite;
  }
  
  .barcoIcon {
    font-size: 5rem;
  }
  
  @keyframes moveBoat {
    0% {
      bottom: 30vh;
      right: 35vw;
    }
    25% {
      bottom: 35vh;
      right: 45vw;
    }
    50% {
      bottom: 33vh;
      right: 40vw;
    }
    100% {
      bottom: 30vh;
      right: 35vw;
    }
  }
  
  .botella {
    font-size: 5rem;
    position: absolute;
    bottom: 15vh;
    right: 45vw;
    animation: moveBottle 120s linear infinite;
  }
  
  @keyframes moveBottle {
    0% {
      bottom: 15vh;
      right: 45vw;
    }
    25% {
      bottom: 10vh;
      right: 35vw;
    }
    100% {
      bottom: 15vh;
      right: 45vw;
    }
  }
  
  .remolino {
    font-size: 5rem;
    position: absolute;
    top: 45vh;
    left: 15vw;
    animation: moveTwist 40s linear infinite; 
  }
  
  @keyframes moveTwist {
    0% {
      top: 45vh;
      left: 15vw;
    }
    25% {
      top: 58vh;
      left: 23vw;
    }
    50% {
      top: 47vh;
      left: 26vw;
    }
    100% {
      top: 45vh;
      left: 15vw;
    }
  }
  
  .camping {
    font-size: 5rem;
    position: absolute;
    top: 35vh;
    right: 50vw;
    animation: moveCamping 4s linear infinite; /* Aplica la animación */
  }
  
  @keyframes moveCamping {
    0% {
      font-size: 5rem;
    }
    25% {
      font-size: 5.2rem;
    }
    50% {
      font-size: 5.4rem;
    }
    100% {
      font-size: 5rem;
    }
  }
  
  .llave {
    font-size: 3rem;
    position: absolute;
    top: 45vh;
    right: 60vw;
  }

  .llaveIcon{
    animation: moveKey 6s linear infinite; /* Aplica la animación */

  }
  @keyframes moveKey {
    0% {
      font-size: 2rem;
      rotate: 25deg;
    }
    25% {
      font-size: 2.6rem;
    }
    50% {
      font-size: 3rem;
      rotate: 0deg;
    }
    100% {
      font-size: 2.5rem;
      rotate: 25deg;
    }
  }
  
  .cofre {
    font-size: 3rem;
    position: absolute;
    top: 60vh;
    right: 60vw;
    animation: moveChest 6s linear infinite; /* Aplica la animación */
  }
  
  @keyframes moveChest {
    0% {
      font-size: 3rem;
    }
    25% {
      font-size: 3.5rem;
    }
    50% {
      font-size: 3.4rem;
    }
    100% {
      font-size: 3rem;
    }
  }
  
  .camping:hover, .llave:hover, .barco:hover, .botella:hover, .nube:hover, .remolino:hover, .cofre:hover {
    color: blue;
  }
  
  .mapa {
    justify-content: center;
  }
  
  .iconContainer {
    position: relative;
    display: inline-block;
    text-align: center;
  }
  
  .iconContainer h4 {
    visibility: hidden;
  }
  
  .iconContainer:hover h4 {
    visibility: visible;
  }
  
  .iconLink {
    text-decoration: none;
    color: inherit;
  }
  
  .nombre{margin:0;
font-size: 1rem;
background-color: black;
color: white;
padding: 0vh 1vw;}

  }