.container{
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background: radial-gradient(circle at 50% 0%, #f2f1f1, #dddcdc, #818485);    
}

.list {
  position: fixed;
width: 80vw;  
left: 8vw;
bottom: 5vh;
  padding: 1vh 3vw 4vh 3vw;
  background: radial-gradient(circle at 50% 0%, #dfdada, #e1dfdf, #a7a8a8);      
  color: #231f20;
  border-radius: 14px;
  box-shadow: 
      4px 20px 10px 1px rgba(0, 0, 0, 0.2), 
      inset -2px 0 5px rgba(255, 255, 255, 0.3),
      inset 0 20px 35px rgba(255, 255, 255, 0.8);
}
.mapa{
  background-image: url('../../../svg/mapa.svg') ;  
  background-size:contain;
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  position: fixed;
  top: 0px;
  left: 5vw;
  width: 90vw;
  height: 125vh;
  z-index: 1000;
}
.links{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
}

.nube {
  position: absolute;
  top: 15vh;
  left: 10vw;
  animation: moveCloud 50s linear infinite; /* Aplica la animación */
}

@keyframes moveCloud {
  0% {
    left: 10vw; /* Posición inicial */
  }
  50% {
    left: 30vw; /* Posición intermedia (a la derecha) */
  }
  100% {
    left: 10vw; /* Posición final (de regreso a la izquierda) */
  }
}
  
  .image{
    height: 15vh;
    width: 5vw;
    margin: auto; /* Ajusta según sea necesario */
    background-size: cover;
    background-position: center;
  }
@media (min-width: 768px) {


.list {
    right: 10vw;
    left: unset;
    top: 20vh;
    padding: 2vh 3vw 8vh 3vw;
    width: 10vw;
  }

  .links{
    grid-template-columns: 1fr;
  }
  
  .nube {
    font-size: 5rem;
    position: absolute;
    top: 15vh;
    left: 10vw;
    animation: moveCloud 50s linear infinite; /* Aplica la animación */
  }
  
  @keyframes moveCloud {
    0% {
      left: 10vw; /* Posición inicial */
    }
    50% {
      left: 30vw; /* Posición intermedia (a la derecha) */
    }
    100% {
      left: 10vw; /* Posición final (de regreso a la izquierda) */
    }
  }

  .barco, .botella, .camping, .cofre, .llave, .nube, .remolino {
      /* From https://css.glass */
      background-color: rgba(218, 208, 208, 0.1);
border-radius: 10px;
box-shadow: 3px 8px 15px rgba(45, 45, 45, 0.6),
2px 3px 2px inset rgba(232, 230, 230, 0.767);
backdrop-filter: blur(3px);
-webkit-backdrop-filter: blur(5px);
width: 8vw;
  }
  
  .barco {
    position: absolute;
    bottom: 30vh;
    right: 35vw;
    animation: moveBoat 120s linear infinite;
    
  }
  
  .barcoIcon {
    font-size: 5rem;
  }
  
  @keyframes moveBoat {
    0% {
      bottom: 30vh;
      right: 35vw;
    }
    25% {
      bottom: 35vh;
      right: 45vw;
    }
    50% {
      bottom: 33vh;
      right: 40vw;
    }
    100% {
      bottom: 30vh;
      right: 35vw;
    }
  }
  
  .botella {
    font-size: 5rem;
    position: absolute;
    bottom: 15vh;
    right: 45vw;
    animation: moveBottle 120s linear infinite;
  }
  
  @keyframes moveBottle {
    0% {
      bottom: 15vh;
      right: 45vw;
    }
    25% {
      bottom: 10vh;
      right: 35vw;
    }
    100% {
      bottom: 15vh;
      right: 45vw;
    }
  }
  
  .remolino {
    font-size: 5rem;
    position: absolute;
    top: 45vh;
    left: 15vw;
    animation: moveTwist 40s linear infinite; 
  }
  
  @keyframes moveTwist {
    0% {
      top: 45vh;
      left: 15vw;
    }
    25% {
      top: 58vh;
      left: 23vw;
    }
    50% {
      top: 47vh;
      left: 26vw;
    }
    100% {
      top: 45vh;
      left: 15vw;
    }
  }
  
  .camping {
    font-size: 5rem;
    position: absolute;
    top: 35vh;
    right: 50vw;
    animation: moveCamping 4s linear infinite; /* Aplica la animación */
  }
  
  @keyframes moveCamping {
    0% {
      font-size: 5rem;
    }
    25% {
      font-size: 5.2rem;
    }
    50% {
      font-size: 5.4rem;
    }
    100% {
      font-size: 5rem;
    }
  }
  
  .llave {
    font-size: 3rem;
    position: absolute;
    top: 45vh;
    right: 60vw;
  }

  .llaveIcon{
    animation: moveKey 6s linear infinite; /* Aplica la animación */

  }
  @keyframes moveKey {
    0% {
      font-size: 2rem;
      rotate: 25deg;
    }
    25% {
      font-size: 2.6rem;
    }
    50% {
      font-size: 3rem;
      rotate: 0deg;
    }
    100% {
      font-size: 2.5rem;
      rotate: 25deg;
    }
  }
  
  .cofre {
    font-size: 3rem;
    position: absolute;
    top: 60vh;
    right: 60vw;
    animation: moveChest 6s linear infinite; /* Aplica la animación */
  }
  
  @keyframes moveChest {
    0% {
      font-size: 3rem;
    }
    25% {
      font-size: 3.5rem;
    }
    50% {
      font-size: 3.4rem;
    }
    100% {
      font-size: 3rem;
    }
  }
  
  .camping:hover, .llave:hover, .barco:hover, .botella:hover, .nube:hover, .remolino:hover, .cofre:hover {
    color: #2e2c2f;
  }
  
  .mapa {
    justify-content: center;
  }
  
  .iconContainer {
    position: relative;
    display: inline-block;
    text-align: center;
  }
  
  .iconContainer h4 {
    visibility: hidden;
  }
  
  .iconContainer:hover h4 {
    visibility: visible;
  }
  
  .iconLink {
    text-decoration: none;
    color: inherit;
  }
  
  .nombre{margin:0;
font-size: 1rem;
background-color: #2e2c2f;
color: white;
padding: 0vh 1vw;
border-radius: 50px;
width: 10vw;
}

  }