
.talleres {

    text-align: left;
}


.info {
    text-align: justify;
}

.list{
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    padding-left: 5vw;
}
.talleres {
    padding-bottom: 15vh;
}

.info,
.name,
.date {
    margin: 0
}

.iframe {
    width: 70vw;
}

.taller {
    padding-top: 8vh;
    padding-bottom: 2vh;
    text-align: left;
    border-radius: 10px;
    width: 85vw;
    min-height: 25vh;
    padding-left: 10vw;
    padding-right: 10vw;
    box-sizing: border-box;
    gap: 1vh;
    min-height: 35vh;
    border-bottom-left-radius: 60px;
    border-top-right-radius: 60px;
}

.name{font-size: 1.5rem;}
.white {
    background: radial-gradient(circle at top, #ffffff, #e0e0e0);
    color: #000000;
}

.black {
    background: radial-gradient(circle at top, #000000, #1f1d1d);
    color: #ffffff;
  
}

.yellowgreen {
    background: radial-gradient(circle at top, #9dd83d, #8fc82e);
    color: #1a1a1a;
   
}

.blue {
    background: radial-gradient(circle at top, #264f71, #1c2737);
    color: #ffffff;
    border: 10px;
}

@media (min-width: 768px) {

    .list{
      flex-direction: row;
    }
    .taller{width: 25vw;
    padding: 10vh 2vw;
padding-bottom: 5vh;}
}