

.landing {
    box-sizing: border-box;
}

.edipo {
    margin: 0;
    text-align: left;
    font-size: 5rem;
    padding-top: 5vh;
    color: #231f20;
}
.subTitle{
    margin: 0;
    text-align: left;
    color: #231f20;
    padding-top: 2vh;
    padding-left: 2vw;
}
.name {
    margin: 0;
    text-align: left;
    color: #231f20;
    padding-top: 2vh;
}

.texto {
    margin: 0;
    width: 60vw;
    text-align: justify;
    padding-top: 1vh;
    padding-bottom: 20vh;
    box-sizing: border-box;
    color: #1a1a1a;
    padding-left: 2vw;
}

.header {
    background: radial-gradient(circle at 50% 0%, #c1bfc1, #d6d4d7, #737171);
    border-radius: 3px;
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.3);
    /* Sombra común */
    min-height: 45vh;
    border-bottom-left-radius: 180px;
    border-bottom-right-radius: 38px;
    padding: 6vh 10vw;
    margin: 0vh 2vw;
    margin-right: 4vw;

}

.title {
    margin: 0;
    color: #d7d5d8;
    text-align: left;
    padding-top: 3vh;
    text-shadow: 1px 1px 15px rgba(255, 255, 255, 0.409);
    font-size: 2rem;
}



.newsContainer {
    background: radial-gradient(circle at top, #333333, #231f20, #000000);
    border-radius: 120px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 120px;
    box-shadow: 5px 0px 10px 1px rgba(253, 253, 253, 0.1),
    -10px 0px 50px rgba(253, 253, 253, 0.192),
    5px 5px 60px inset rgba(254, 252, 252, 0.1);
    display: flex;
    align-content: center;
    align-self: center;
    justify-items: center;
    margin-top: -18vh;
    padding-top: 5vh;
    padding-left: 4vw;
    width: fit-content;
    min-width: 60vw;
    height: fit-content;
    min-height: 25vh;
    padding-right: 4vw;

}

.newsData {
    padding-left: 8vw;
    text-align: left;
    font-size: 0.8rem;
    align-content: center;
    color: #ecede7;
    min-width: 45vw;
    text-shadow: 1px 1px 7px rgba(253, 253, 253, 0.4);
}

.botonNews {
    border-radius: 360px;
    box-sizing: border-box;
    align-self: center;
    justify-items: center;
    margin: 0;
    align-content: center;
    background-color: rgba(0, 0, 0, 0);
}

.leer {
    margin: 2vh 0;
    text-align: center;
    text-justify: center;
    padding: 0vh 0vw;
    border: solid 1px;
    max-width: 15vw;
    border-radius: 45px;
    color: #5973b5;
    border-color: #86a0e1;
}

.play {
    color: #86a0e1af;
    font-size: 6rem;
    border-radius: 360px;
    border: dashed 4px #686868;
    border-color: #5973b5;
    /* Cambia el color del borde al blanco */
    color: #d7d5d8;
    /* Cambia el color del texto al blanco */
    box-shadow: 0 0 15px 5px rgba(109, 117, 178, 0.2);
    /* Efecto de resplandor en el borde */
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
    /* Efecto de resplandor en el texto */
}

.playContainer {
    width: 80%;
    height: fit-content;
    text-align: right;

}

.newsTitle {
    font-size: 0.8rem;
    margin: 0;
    box-sizing: border-box;
    max-width: 38vw;
    margin-top: 1vh;
}

.newsBajada {
    margin: 0;
    text-align: justify;
    box-sizing: border-box;
    font-size: 0.7rem;
}


.investigaciones {
    background: radial-gradient(circle at top, #333333, #231f20, #000000);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 120px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 35px;
    margin: 3vh 5vw;
    padding: 2vh 6vw;
    margin-top: 5vh;
    box-sizing: border-box;
}

.title {
    font-size: 1.7rem;
}

.bajada {
    color: #d6d4d7;
    font-size: 0.7rem;
    margin: 0;
    text-align: justify;
    padding-right: 15vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.bajada2 {
    color: #231f20;
    font-size: 0.7rem;
    margin: 0;
    text-align: justify;
    padding-right: 15vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.appList {
    padding: 3vh 5vw;
    gap: 1vw;
    max-width: 83vw;
    box-sizing: border-box;
}

.box {
    background: radial-gradient(circle at top, #333333, #231f20, #000000);
    color: #ecede7;
    border-radius: 48px;
    height: 10vh;
    margin: 0;
    padding: 0.5vh 0.5vh;
}

.lightBox {
    border: solid 2px #535252;
    border-radius: 46px;
    height: 7.5vh;
    margin: 0;
    font-size: 1rem;
    padding: 0vh 8vw;
    padding-top: 2vh;
    text-align: right;
}

.lightBox:hover {
    border: solid 2px #86a0e1;
    box-shadow: 0 0 1px #86a0e1, 0 0 10px #86a0e1;
    text-shadow: 0 0 3px #86a0e1, 0 0 5px #86a0e1, 0 0 10px #5973b5, 0 0 15px #86a0e1;
    /* Sombra difuminada para el texto */
}

.recursos {
    bottom: 7vh;
    border-radius: 3px;
    border-top-right-radius: 80px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 120px;
    color: #ecede7;
    margin: 3vh 5vw;
    padding: 2vh 6vw;
    margin-top: 0vh;
    box-sizing: border-box;
    background-color: white;
}

.recursosList {
    display: flex;
    justify-content: left;
    gap: 0.5vw;
}

.recursosTitle {
    margin: 0;
    color: #231f20;
    box-sizing: border-box;
    font-size: 1.7rem;
    text-align: left;
}

.linkBackground{
    background-color: #eff1f1;
    border-radius: 360px;
    width: fit-content;
    height: fit-content;
    margin-top: 2vh;
}

.button1,
.button2,
.button3 {
    background-color: #d6d4d7;
    color: #231f20;
    margin: 0;
    border: solid 1px #231f20;
    border-radius: 360px;
    width: 15vw;
    margin: auto;
    height: 10vh;
    align-content: center;
    box-sizing: border-box;
}

.recursoName {
    margin: 0;
    max-width: 18vw;
    font-size: 0.6rem;
    color: #1a1a1a;
    text-align: center;
    padding-top: 2vh;
    padding-bottom: 1vh;
}

.button1 {
    color: #231f20;
    background: url('../../svg/mapa.svg') no-repeat center center;
    /* Añadir la ruta correcta a tu SVG */
    background-size: cover;
    /* Asegura que el SVG cubra todo el fondo */
    box-shadow: inset -5px -10px 15px rgba(54, 54, 54, 0.1);
    box-sizing: border-box;
}

.button2 {
    color: #231f20;
    background: url('../../svg/Inteligencia.svg') no-repeat center center;
    /* Añadir la ruta correcta a tu SVG */
    background-size: cover;
    /* Asegura que el SVG cubra todo el fondo */
    box-sizing: border-box;
    box-shadow: inset -5px -10px 15px rgba(54, 54, 54, 0.1);
}

.button3 {
    color: #231f20;
    background: url('../../svg/portadaMapa.svg') no-repeat center center;
    /* Añadir la ruta correcta a tu SVG */
    background-size: cover;
    /* Asegura que el SVG cubra todo el fondo */
    box-sizing: border-box;
    box-shadow: inset -5px -10px 15px rgba(54, 54, 54, 0.1);
}

.button1:hover {
    color: #231f20;
    font-size: 0;
    background: url('../../svg/mapa.svg') no-repeat center center;
    /* Añadir la ruta correcta a tu SVG */
    background-size: cover;
    /* Asegura que el SVG cubra todo el fondo */
}

.button2:hover {
    color: #231f20;
    font-size: 0;
    background: url('../../svg/Inteligencia.svg') no-repeat center center;
    /* Añadir la ruta correcta a tu SVG */
    background-size: cover;
    /* Asegura que el SVG cubra todo el fondo */
}

@media (min-width: 768px) {


    .edipo {
        padding-top: 0vh;
        font-size: 6rem;
        text-align: left;
    }

    .name {
        margin: 0;
        padding-left: 4vw;
        padding-top: 1vh;
    }

    .texto {
        margin: 0;
        max-width: 32vw;
        text-align: justify;
        padding-left: 4vw;
    }

    

    .newsContainer:hover {
        box-shadow: 5px 0px 10px 1px rgba(253, 253, 253, 0.1),
            -10px 0px 50px rgba(253, 253, 253, 0.192),
            5px 5px 60px inset rgba(254, 252, 252, 0.1);
        text-shadow: 1px 1px 7px rgba(253, 253, 253, 0.4);
    }

    .newsContainer {
        box-shadow: none;
        margin-top: -13vh;
        min-width: 30vw;
        padding-top: 4vh;
    }

    .newsData {
        padding-left: 1vw;
        font-size: 0.8rem;
        min-width: 22vw;
        max-width: 22vw;
    }


    .investigaciones {
        position: absolute;
        top: 10vh;
        right: 2vw;
        height: 32vh;
        width: 40vw;
        background: radial-gradient(circle at top, #333333, #231f20, #000000);
        border-top-right-radius: 20px;
        border-bottom-right-radius: 120px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 35px;
    }

    .play {
        font-size: 5rem;
        background-color: #0f0f0f;
        border-color: #ffffff96;
        border-radius: 360px;
        /* Mantener el borde redondeado si es necesario */
        color: #86a0e1;
        /* Color del texto inicial */
        transition: all 0.3s ease;
        /* Transición suave para los cambios */
    }

    .play:hover {
        border-color: #5973b5;
        /* Cambia el color del borde al blanco */
        color: #d7d5d8;
        /* Cambia el color del texto al blanco */
        box-shadow: 0 0 15px 5px rgba(109, 117, 178, 0.858);
        /* Efecto de resplandor en el borde */
        text-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
        /* Efecto de resplandor en el texto */
    }

    
    .bajada {
        font-size: 0.7rem;
        margin: 0;
        padding-right: 3vw;
        padding-bottom: 2vh;
        display: none;
    }

    .bajada2 {
        display: none;
        font-size: 0.7rem;
        margin: 0;
        padding-right: 3vw;
        padding-bottom: 0vh;
        padding-top: 0;
        padding-left: 2vw;
    }

  .appList{
    display: none;
  }
    .recursos {
        display: flex;
        position: absolute;
        right: 0vw;
        top: 58vh;
        color: #ecede7;
        padding-top: 2vh;
        width: 42vw;
        padding-left: 2vw;
        /* From https://css.glass */
        background: rgba(255, 255, 255, 0.1);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(30px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.15);
    height: fit-content;
    }

    .recursosTitle {
        margin-left: 2vw;
        text-align: left;
        text-shadow: 1px 1px 10px white;
        font-size: 2rem;
        padding-bottom: 0vh;
    }

    .button1,
    .button2,
    .button3 {
        width: 10vh;
        color: #d6d4d7;
        margin: 0;
        border: solid 1px #d7d5d8;
        border-radius: 360px;
        height: 10vh;
        align-content: center;
        padding: 1vh 2vw;
        margin-top: 2vh;
    }

    .recursoName {
    display: none;
    }
}

@media (min-width: 1080px) {
    .header {
        padding: 4vh 6vw;
    }

    .edipo {
        font-size: 6rem;
        text-align: left;
        padding-left: 4vw;
        margin-top: 10vh;
    }

    .name {
        padding-top: 5vh;
    }

    .texto {
        margin: 0;
        max-width: 28vw;
        text-align: justify;
        padding-left: 4vw;
        font-size: 0.9rem;
    }

    .news {
        padding-left: 6vw;
        min-height: 10vh;
    }

    .news:hover {
        width: 36vw;
        height: 36vh;
        top: 54vh;
    }
    .leer{
        font-size: 1.5rem;
        max-width: 9vw;
    }

    .newsContainer {
        max-width: 10vw;
        padding-top: 6vh;
        min-width: 25vw;
    }

    .newsData {
        padding-left: 2vw;
        max-width: 20vw;
        min-width: 20vw;
        font-size: 0.8rem;
    }
.recursos{width: 45vw;
align-items: center;
}
.investigaciones{width: 45vw;
display: flex;
align-items: center;}
    .investigaciones{
        height: 40vh;
    }

    .newsTitle {
        max-width: 20vw;
        font-size: 1.2rem;
    }

    .button1,
    .button2,
    .button3 {
        width: 12vh;
        color: #d6d4d7;
        margin: 0;
        border: solid 1px #d7d5d8;
        border-radius: 360px;
        height: 12vh;
        align-content: center;
    
    }

    .subTitle{
        padding-left: 4vw;
    }
    .bajada {
        display: flex;
        color: #d6d4d7;
        font-size: 0.7rem;
        margin: 0;
        text-align: justify;
        padding-top: 1vh;
        padding-bottom: 2vh;
        max-width: 30vw;
    }

    .title{padding-top: 0;}
    .bajada2 {
        display: flex;
        color: #231f20;
        font-size: 0.7rem;
        margin: 0;
        text-align: justify;
        padding-left: 2vw;
        padding-bottom: 0vh;
        max-width: 50vw;
    }

  .play{font-size: 8rem;}

  .recursoName{
    display: block;
    margin: 0;
    max-width: 10vw;
    font-size: 0.6rem;
    color: #ffffff;
    text-align: center;
    padding-top: 2vh;
    padding-bottom: 1vh;
  }
}