.recursos {
    display: flex;
flex-direction: column;    grid-template-rows: auto auto auto;
gap: 1vh;
}

.seguridad,
.busqueda,
.guiaMapa {
    padding-top: 5vh;
    border: solid 1px #2e2c2f;
    border-radius: 25px;
min-height: 25vh;
}

.seguridad {
    background: url('../../svg/mapa.svg') no-repeat center center;
    /* Añadir la ruta correcta a tu SVG */
    background-size: contain;
    /* Asegura que el SVG cubra todo el fondo */
    color: #2e2c2f;
}

.seguridad:hover,
.busqueda:hover {
    background-size: cover;
    /* Asegura que el SVG cubra todo el fondo */
}

.busqueda {
    background-color: white;
    color: #2e2c2f;
    background: url('../../svg/Inteligencia.svg') no-repeat center center;
    /* Añadir la ruta correcta a tu SVG */
    background-size: contain;
    /* Asegura que el SVG cubra todo el fondo */
}

.guiaMapa {
    color: #2e2c2f;
    background: url('../../svg/portadaMapa.svg') no-repeat center center;
    /* Añadir la ruta correcta a tu SVG */
    background-size: contain;
}

.item {
    margin: 0;
}



@media (min-width: 768px) {
   

    .recursos {
flex-direction: row;
        gap: 0.4vw;
        top: 30vh;
        margin: auto;
        justify-content: center;
    }

    .seguridad,
    .busqueda,
    .guiaMapa {
        height: 50vh;
        padding-top: 4vh;
        min-width: 25vw;
        box-shadow: inset -5px -10px 15px rgba(54, 54, 54, 0.1);
        
    }


    .item {
        padding-top: 0vh;
        margin: 0;
        font-size: 0.8rem;
    }
}