.recursos {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    /* Disposición vertical por defecto */
    grid-template-rows: auto auto auto;
    /* Asegura que los elementos se apilen */
}

.seguridad,
.busqueda,
.guiaMapa {
    padding-top: 5vh;
    border: solid 1px #2e2c2f;
    border-radius: 25px;
}

.seguridad {
    background: url('../../svg/mapa.svg') no-repeat center center;
    /* Añadir la ruta correcta a tu SVG */
    background-size: contain;
    /* Asegura que el SVG cubra todo el fondo */
    color: #2e2c2f;
    padding: 0vh 3vw;
}

.seguridad:hover,
.busqueda:hover {
    background-size: cover;
    /* Asegura que el SVG cubra todo el fondo */
}

.busqueda {
    background-color: white;
    color: #2e2c2f;
    background: url('../../svg/Inteligencia.svg') no-repeat center center;
    /* Añadir la ruta correcta a tu SVG */
    background-size: contain;
    /* Asegura que el SVG cubra todo el fondo */
}

.guiaMapa {
    color: #2e2c2f;
    background: url('../../svg/portadaMapa.svg') no-repeat center center;
    /* Añadir la ruta correcta a tu SVG */
    background-size: contain;
}

.item {
    margin: 0;
}



@media (min-width: 768px) {
   

    .recursos {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 0.4vw;
        top: 30vh;
        width: 70vw;
        margin: auto;
        left: 15vw;
    }

    .seguridad,
    .busqueda,
    .guiaMapa {
        height: 60vh;
        padding-top: 4vh;
        box-shadow: inset -5px -10px 15px rgba(54, 54, 54, 0.1);
    }

    .item {
        padding-top: 0vh;
        margin: 0;
        font-size: 0.8rem;
    }
}