.navbar {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    position: fixed;
    top: 5vh;
    left: 10vh;
    height: 6vh;
    width: 83vw;
    padding-top: 2vh;
    z-index: 1000;
    align-items: center;
    justify-items: right;
}

.logo {
    font-size: 1.3rem;
    margin: 0;
    color: #231f20;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.menu.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 6vh;
    left: 0;
    width: 100%;
    background-color: #231f20;
    padding: 1rem 0;
}

.text, .title, .item {
    margin: 0;
}

.text {
    color: #231f20;
    border: solid 1px #231f20;
    border-radius: 48px;
    padding: 0.5vh 1vw;
}

.item {
    color: #231f20;
}

.suscribite {
    display: flex;
    justify-content: flex-end;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.icon {
    color: #231f20;
    font-size: 1.5rem;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .navbar{
        position: fixed;
        top: 0;
    }
    
    .menu {
        display: none;
    }
    
    .menu.open {
        display: flex;
    }

    .hamburger {
        display: block;
    }
}
