.navbar {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    position: fixed;
    top: 0;
    left: 0;
    height: 6vh;
    background-color: black;
    width: 100vw;
    padding-top: 2vh;
    z-index: 1000;
    align-items: center;
}

.logo {
    margin: 0;
    color: white;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.menu.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 6vh;
    left: 0;
    width: 100%;
    background-color: black;
    padding: 1rem 0;
}

.text, .title, .item {
    margin: 0;
}

.text {
    color: orange;
}

.item {
    color: white;
}

.suscribite {
    display: flex;
    justify-content: flex-end;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.icon {
    color: white;
    font-size: 1.5rem;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .menu {
        display: none;
    }
    
    .menu.open {
        display: flex;
    }

    .hamburger {
        display: block;
    }
}
