
.investigaciones {
  text-align: left;

}

.content {
  margin-top: -8vh;
  color: #d6d4d7;
}


.button{
  height: 4vh;
  width: 4vh;
  box-sizing: border-box;
  color: #86a0e1af;
  background-color: #1d1d2184;
  border-radius: 360px;
  border: dashed 1px #686868;
  text-align: center;
}

.ver{
  color: #86a0e1af;  
  border: solid 1px;
  padding: 0vh 2vw;
  border-color: #86a0e1af;
  border-radius: 360px;
  box-sizing: border-box;
  align-self: center;
  justify-items: center;
  margin: 0;
  align-content: center;
  background-color: rgba(0, 0, 0, 0);
  width: fit-content;
margin-top: 2vh;
}

.bajada, .descripcion, .titulo {margin: 0}

.fullInfo{
  text-align: justify;
  padding-right: 5vw;
}

.detailSection {
  padding: 0vh 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75vw;
}

.titulo {
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1vw;
}

.selected {
}


.imagePlaceholder {
  width: 50vw;
  height: 32vh;
  margin: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.imagePlaceholder.show {
  opacity: 1; /* Totalmente visible cuando se añade la clase 'show' */
}


.header {
  margin: 0;
  font-size: 1.7rem;
}

.tematica {
  margin-bottom: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #dcd6d6;
  border: solid #dcd6d6;
  padding-top: 8vh;
  padding-bottom: 2vh;
  text-align: left;
  border-radius: 10px;
  width: 85vw;
  min-height: 25vh;
  padding-left: 10vw;
  padding-right: 10vw;
  box-sizing: border-box;
  gap: 1vh;
  min-height: 35vh;
  border-bottom-left-radius: 60px;
  border-top-right-radius: 60px;
}

@media (min-width: 768px) {


  .subTitle{
    padding-right: 40vw;
  }

  .content {
    padding-left: 15vw;
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .listSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .list {
    list-style: none;
    padding: 0;
    grid-template-columns: 1fr;
  }

 
  .selectedButton {
    font-size: 1.8rem;
  }

  .button:hover {
    font-size: 1.8rem;
    font-weight: bold;
  }

  .detailSection {
    width: 40vw;
    height: 50vh;
    justify-content: left;
  }

  .imagePlaceholder {
    width: 35vw;
    height: 50vh;
    margin: auto;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  .imagePlaceholder.show {
    opacity: 1; /* Totalmente visible cuando se añade la clase 'show' */
  }

  .navigationButtons {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .navigationButtons button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
}